/* Estilos de cada secci�n del PieChart */
.default-color0.chart-pie { -fx-background-color: #38F230; }
.default-color1.chart-pie { -fx-background-color: #525DFA; }
.default-color2.chart-pie { -fx-background-color: #FA0520; }
.default-color3.chart-pie { -fx-background-color: #29F1E0; }
.default-color4.chart-pie { -fx-background-color: #FB124D; }
 
/* Estilos generales de las l�neas con las etiquetas que marcan los datos */
.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}
 
 /* Estilos del texto con la etiqueta de datos */
.chart-pie-label {
    -fx-fill: red;
    -fx-font-size: 0.8em;
} 

/* Estilos del recuadro con la leyenda de los datos */
.chart-legend {
   -fx-background-color: #fafad2;
   -fx-border-color: red;
   -fx-border-width: 1px;
   -fx-pref-height: 130px;
}

/* Se cambia el primer s�mbolo de la leyenda del gr�fico */
.default-color0.pie-legend-symbol{
	-fx-background-color: yellow;
}