/* Estilos generales del BarChart */
.chart-bar {
    -fx-background-color: rgba(0,168,355,0.05);
    -fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3) 
        transparent rgba(0,168,355,0.3);
    -fx-background-radius: 0;
}

/* Estilos por cada valor del eje X */
.data0.chart-bar {
    -fx-background-color: green;
}
.data1.chart-bar {
    -fx-background-color: red;
}
.data2.chart-bar {
    -fx-background-color: yellow;
}
.data3.chart-bar {
    -fx-background-color: black;
}
.data4.chart-bar {
    -fx-background-color: purple;
}

/* Estilos por cada n�mero de serie de datos */
.default-color0.chart-bar{
	-fx-background-color: #EC07AD;
}

/* Estilos de una posici�n concreta de una serie de datos */
.default-color1.data0.chart-bar{
	-fx-background-color: #00F9F5;
}

/* Estilos de la leyenda de cada serie de datos */
.default-color0.bar-legend-symbol {
	-fx-background-color: #F89506;
}

.default-color1.bar-legend-symbol {
	-fx-background-color: black;
}